.LinkScenePage {
  text-align: center;
}
.map {
  padding: 15px;
}
.options div input {
  color: white;
}
.toast-full-with .toast {
  min-width: 100% !important;
}

.warning {
  background: var(--primary);
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 24px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 2px;
}
.LinkScenePage {
  padding-top: 24px;
}

div.url {
  display: flex;
  margin-right: 0;
}

div.url div.dcl.badge {
  cursor: pointer;
}

.dcl.toast.warn,
.dcl.toast.error {
  margin-left: 0;
}

.dcl.toast.error {
  background-color: brown;
}

.warning-modal {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning-modal .DeployWarning {
  margin: 30px 0;
}
