.map-table {
  max-height: 300px;
  overflow-y: scroll;
}
.permission-not-granted {
  color: brown;
}

.map-canvas > div {
  height: 300px !important;
}

.map-table-pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
