on:
  push:
    branches:
      - main
  pull_request:
  release:
    types:
      - created

name: build-deploy-to-cdn
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: npm

      - name: set package.json version
        uses: menduz/oddish-action@master
        with:
          deterministic-snapshot: true
          only-update-versions: true

      - id: install
        name: install
        run: npm ci

      - name: build
        run: npm run build

      # - name: test
      #   run: npm run test

      - name: publish npm package
        uses: menduz/oddish-action@master
        with:
          ## use action runId instead of current date to generate snapshot numbers
          deterministic-snapshot: true
          access: public
          cwd: './build'

          ## inform gitlab after publishing to proceed with CDN propagation and rollouts
          # 104 == https://dcl.tools/pipelines/static-sites-pipeline
          # gitlab-pipeline-url: "https://dcl.tools/api/v4/projects/104/trigger/pipeline"
          # gitlab-token: ${{ secrets.GITLAB_TOKEN }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
